@model System.Collections.Generic.IList<EmployeeManagement.Models.Employee>

@{
    Layout = null;
}



<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Employees</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        List All Employees
                        <a href="@Url.Action("Store", "Employee")" class="btn btn-success">Add</a>
                        <a href="@Url.Action("TopThreeEmployee", "Employee")" class="btn btn-success">Top 3 Hard-Working Employee In Current Month</a>
                        <a href="@Url.Action("GetAllFromFiveYearsExp", "Employee")" class="btn btn-success">All Employee From 5 Years Experience</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Desc</th>
                                    <th>Date of Birth</th>
                                    <th>Years of Experience</th>
                                    <th>Phone</th>
                                    <th>Department</th>
                                    <th>Created_at</th>
                                    <th>Updated_at</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var empl in Model)
                                {

                                    <tr>
                                        <td>@empl.Id</td>
                                        <td><a href="@Url.Action("Details", "TimeSheet", new { id = empl.Id})">@empl.Name</a></td>
                                        <td>@empl.Desc</td>
                                        <td>@empl.DateOfBirth</td>
                                        <td>@empl.YearsOfExperience</td>
                                        <td>@empl.PhoneNumber</td>
                                        <td>@empl.Department.Name</td>
                                        <td>@empl.Created</td>
                                        <td>@empl.Modified</td>
                                        <td><a href="@Url.Action("Edit", "Employee", new {id = empl.Id})" class="">Modify</a></td>
                                        <td><a href="@Url.Action("Delete", "Employee", new {id = empl.Id})" class="">Remove</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>